@font-face {
    font-family: 'monsterrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    display: flex;
    font-size: xx-large;
    align-items: center;
    font-family: "monsterrat";
}

img {
    width:  75%;
    max-height: 100vh;
}

section {
    margin-left: 20px;
}

div.row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-bottom: 10px;
    background-color: rgb(76, 104, 104);
    border-radius: 20%;
}

div.row > div {
    background-color: darkslategray;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20%;
    color: white;
    text-wrap: wrap;
}